body {
  background-color: #9c835f;
}

.player .col-12,
.com .col-12 {
  margin-bottom: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
}

.highlight {
  padding: 22px 45px;
  background: #c4c4c4;
  border-radius: 20px;
}

.vs-text {
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 196px;
  letter-spacing: 0.1em;
  color: #bd0000;
}

.player-result {
  height: 100px;
  width: 300px;
  background-color: green;
  color: white;
  font-size: 40px;
  text-align: center;
  transform: rotate(-20deg);
  display: none;
}
